{% extends "event/base.html" %}

{% block head_extends %}
<script>
    const registrationOpenDate = new Date("{{ localtime(registration_open_date).strftime('%B %-d, %Y, %H:%M:%S') }}");
    const registrationCloseDate = new Date("{{ localtime(registration_close_date).strftime('%B %-d, %Y, %H:%M:%S') }}");
    const eventStartDate = new Date("{{ localtime(event_start_date).strftime('%B %-d, %Y, %H:%M:%S') }}");
</script>
{% endblock %}

{% block nav_logo %}logoNav{% endblock %}
{% block nav_background_color %}{% endblock %}

{% block nav_links %}
    <li><a href="#about">About</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#faq">FAQ</a></li>
     <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{{ url("event:dashboard") }}">Dashboard</a></li>
    {% endif %}
{% endblock %}

{% block body %}
<!-- MLH Badge -->
<!-- <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-white.svg" alt="Major League Hacking 2022 Hackathon Season" style="width:100%"></a> -->
<div class="ombreBackgroundLight">
    <div class="section purpleLanding" id="landing">
        <div class="container">
            <br /><br />
            <h1 class="header white-text">NewHacks</h1>
            <div class="row">
                <h4 class="header s12 white-text longText">
                    24 Hour Beginner Friendly Online Hackathon
                </h4>
            </div>
            <div class="row">
                <h5 class="white-text">University of Toronto</h5>
                <h5 class="white-text">
                    {# Update this logic if your event ends in a different month or year #}
                    {{ localtime(event_start_date).strftime("%B %-d") }}-{{ localtime(event_end_date).strftime("%-d, %Y") }}
                </h5>
            </div>
            <div class="row">
                {% if request.user.is_authenticated %}
                    {% if application is none and is_registration_open() %}
                        <a href="{{ url("registration:application") }}" class="btn-large waves-effect waves-light colorBtn">Continue Application</a>
                    {% else %}
                        <a href="{{ url("event:dashboard") }}" class="btn-large waves-effect waves-light colorBtn">Go to Dashboard</a>
                    {% endif %}
                {% elif is_registration_open() %}
                    <a href="{{ url("registration:signup") }}" class="btn-large waves-effect waves-light colorBtn">Apply</a>
                {% endif %}
            </div>
            <br /><br />
        </div>
    </div>

    <div class="container">
        <div class="section scrollspy" id="about">
            <div class="row">
                <div class="col m12 l7 aboutText" id="aboutText">
                    <h3 class="center white-text">About us</h3>

                    <p class="center white-text">
                        Join 300 hackers at NewHacks to transform your ideas into reality! In this 24-hour event, you and your team will build a project from scratch through the integration of hardware and software. Afterwards, you will present your project to a panel of industry judges to compete for prizes. This year, the themes for NewHacks are <span class="lightText"><strong>health</strong></span>, <span class="lightText"><strong>productivity</strong></span>, and <span class="lightText"><strong>safety/privacy</strong></span> - so be creative with your solutions and win some amazing prizes!
                    </p>
                    <p class="center white-text">
                        Our hackathon is designed for anyone to participate, regardless of whether or not you have a technical background. To help facilitate your learning experience, we will host workshops throughout the event featuring speakers from some of the top companies in the industry. This hackathon will be completely online so you can use any software/hardware that you have at home!
                    </p>
                </div>

                <div class="col m12 l5 flexColCenter" id="countdown">
                    <h3 class="center white-text" id="countdownTitle">Registration Opens In</h3>
                    <div class="countdown">
                        <div class="col countdownNum secondaryColor">
                            <div class="countdownWhiteLine"></div>
                            <p id="day1"></p>
                        </div>
                        <div class="col countdownNum secondaryColor">
                            <div class="countdownWhiteLine"></div>
                            <p id="day2"></p>
                        </div>
                        <div class="col countdownNum secondaryColor">
                            <div class="countdownWhiteLine"></div>
                            <p id="day3"></p>
                        </div>
                    </div>
                    <div class="col white-text center countdownDays">Days</div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <img class="skylineImg" src="{{ static('event/images/skyline.svg') }}" alt="skyline" />
</div>

<div class="ombreBackgroundDark1">
    <div class="container">
        <div class="section scrollspy" id="schedule">
            <div class="row schedule">
                <div class="m12 center">
                    <h3 class="center white-text">Schedule</h3>
                </div>
                <div class="col s12 m7 l6">
                    <h4 class="center white-text">Saturday</h4>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">11AM</p>
                        <p class="white-text">Opening Ceremonies</p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">12PM</p>
                        <p class="white-text">
                            <strong>Hacking Begins!</strong>
                        </p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">Various</p>
                        <p class="white-text">Workshops & Activities</p>
                    </div>
                </div>

                <div class="col s12 m5 l6">
                    <h4 class="center white-text">Sunday</h4>

                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">12PM</p>
                        <p class="white-text"><strong>Hacking Ends!</strong></p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">1PM</p>
                        <p class="white-text">Judging</p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">4PM</p>
                        <p class="white-text">Closing Ceremonies</p>
                    </div>
                </div>
            </div>
            <div class="m12 center">
                <a class="btn-large waves-effect waves-light colorBtn" href="https://docs.google.com/document/d/1XkaEhdXXOQnpsJTQ_Qh7Fh4FUTAa-yp2jdOGXuQ9fQE/edit?usp=sharing" rel="noopener" target="_blank">Full schedule</a>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="section scrollspy" id="faq">
            <div class="row">
                <div class="col s12 m12 center">
                    <h3 class="center white-text">FAQ</h3>
                </div>
                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                What is a hackathon?
                            </div>
                            <div class="collapsible-body">
                                <span>A hackathon is a big bonanza where people come together to create projects together with the newest and most exciting tech.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                How much does it cost?
                            </div>
                            <div class="collapsible-body">
                                <span>$0! IEEE UofT is a student club that aims to provide students accessible technical events.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                Can we buy hardware and use it in our project?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Yes, you may buy hardware and use it towards your project. However, please remember that this is only a 24-hour hackathon and it may take time for your hardware to be delivered.
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                Who can apply? What if I have no experience?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Applicants that are currently in either highschool or university are welcomed to apply! We are a beginner friendly hackathon, so no hackathon experience is needed to participate! We
                                    are all here to learn :)
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                What software/hardware can we use?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    As this hackathon is online, you can use any of the software or hardware that you have available at your house.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                Is this hackathon online?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Yes, this hackathon will be hosted completely online using multiple online communication platforms so you can enjoy the hacking experience from the comfort of your home.
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>
<div class="ombreBackgroundDark2">
    <div class="container section scrollspy" id="sponsors">
        <div class="row">
            <h3 class="center white-text">Sponsors</h3>

            <!-- Make sure to adjust sponsor logo size based on tier -->

            <!-- <div class="row sponsorImgs">
                <a href="https://gatik.ai/" class="col m8 s6 offset-m2 offset-s3" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/Gatik.svg') }}" alt="gatik" /></a>
                <a href="https://www.synopsys.com/" class="col m4 s4 offset-m4 offset-s4" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/synopsys.svg') }}" alt="synopsys" /></a>
                <a href="https://www.amazon.ca/" class="col m4 s4 offset-m4 offset-s4" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/amazon.png') }}" alt="mlh" /></a>
                <a href="https://mlh.io/" class="col m2 s4 offset-m5 offset-s4" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/mlh-logo-white.svg') }}" alt="mlh" /></a>
            </div>

            <div style="line-height: 2.5">
                <a class="hoverLink lightText" href="http://mlh.io/code-of-conduct" target="_blank" rel="noreferrer noopoener">
                    <p class ="center">
                        MLH Code of Conduct
                    </p>
                </a>
            </div> -->

            <p class="center white-text">
                If you'd like to sponsor us, feel free to reach out:
                <a href="mailto:{{ contact_email }}" class="hoverLink lightText">{{ contact_email }}</a>
            </p>
        </div>
    </div>
    <div class="container section scrollspy" id="past-projects">
        <p class="center white-text">Want to see past projects? Check out our <a href="https://newhacks-2021.devpost.com/">devpost</a></p>
    </div>
</div>

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://i.imgur.com/leuHG62.jpg" alt="2019-image-1" /></a>
    <a class="carousel-item" href="#two!"><img src="https://i.imgur.com/N3Q8dbL.jpg" alt="2019-image-2" /></a>
    <a class="carousel-item" href="#three!"><img src="https://i.imgur.com/DghK123.jpg" alt="2019-image-3" /></a>
    <a class="carousel-item" href="#four!"><img src="https://i.imgur.com/xdpCVHP.jpg" alt="2019-image-4" /></a>
    <a class="carousel-item" href="#five!"><img src="https://i.imgur.com/sB0BQl3.jpg" alt="2019-image-5" /></a>
    <a class="carousel-item" href="#six!"><img src="https://i.imgur.com/YrS6y1i.jpg" alt="2019-image-6" /></a>
    <a class="carousel-item" href="#seven!"><img src="https://i.imgur.com/CINCqvW.jpg" alt="2019-image-7" /></a>
    <a class="carousel-item" href="#eight!"><img src="https://i.imgur.com/Dhok4x6.jpg" alt="2019-image-8" /></a>
    <a class="carousel-item" href="#nine!"><img src="https://i.imgur.com/9lxQVBA.jpg" alt="2019-image-9" /></a>
    <a class="carousel-item" href="#ten!"><img src="https://i.imgur.com/n9ex97x.jpg" alt="2019-image-10" /></a>
</div>
<footer class="page-footer secondaryColor darkText">
    <div class="container scrollspy" id="contact">
        <h3 class="row center">Contact Us</h3>

        <div class="row center contactBtns">
            <a href="mailto:{{ contact_email }}" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/email.svg') }}" alt="Email" /></a>
            <a href="https://www.ieee.utoronto.ca" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/website.svg') }}" alt="ieee.utoronto.ca" /></a>
            <a href="https://www.facebook.com/ieeeuoft" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/facebook.svg') }}" alt="Facebook" /></a>
            <a href="https://www.instagram.com/ieee_uoft" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/instagram.svg') }}" alt="Instagram" /></a>
        </div>

        <p class="center">Need a platform for your hackathon? We're <a class="hoverLink primaryText" href="https://github.com/ieeeuoft/hackathon-template/" rel="noopener" target="_blank">open source</a>!</p>
    </div>
    <div class="footer-copyright center darkText">
        <div class="container darkText">
            Copyright © {% if localtime(event_end_date).year > 2020 %}2020 -{% endif %}
            {{ localtime(event_end_date).strftime("%Y") }} IEEE University of Toronto Student Branch
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="{{ static('event/js/landing.js') }}"></script>
{% endblock %}
